[Desktop Entry]
Name=Bomberman
GenericName=Bomberman Game
Comment=Jouer à Bomberman Zelda
Exec=/usr/local/bin/bomberman
Icon=/usr/share/icons/bomberman.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Game

